*{
    margin:0;
    padding:0;
    
}
.mid{
    background-color: antiquewhite;
    text-align: center;
}
.n{
    background-color: aqua;

}
.p{
    background-color: pink;
    text-align: center;

}
.o{
background-color: plum;
text-align: center;
}
table{
    border: 1px solid black;
    max-width: 350px;
    margin-left: 40%;
    padding: 10px;
}

.sub{
    text-align: center;
    background-color: rgb(232, 129, 194);
}

